.landing-img {
    background: linear-gradient(to bottom, rgba(0,0,0,0)
    39%, rgba(0,0,0,0)
    41%, rgba(0,0,0,0.5)
    100%),
    url(''),
    #1c1c1c;

    height: 500px;
    background-size: 100% cover;
    background-position: center center;
    width: 100%;
    position: relative;
}

.main {
    position: absolute;
    max-width: 500px;
    bottom: 2rem;
    margin-left: 2rem;
}
.title{
    color: blue;

}
p {
    color: green;
    font-size:1rem
}

.landing-body{
    width:85%;
    margin: 1rem auto;

}
.button-wrapper{
    display: flex;
    justify-content: center;
}
.button{

}